@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --primary: #EAB308;
  --background: #0a0a0a;
}

body {
  background-color: var(--background);
  color: white;
  font-family: var(--font-sans);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.selection-yellow::selection {
  background-color: #EAB308;
  color: black;
}
